@import "./style.css";

:root {
  --swap-offset: calc(var(--tile-size) / 3)
}

.initial-screen {
  transform: translateY(-110%);
  transition: all 0.9s cubic-bezier(.77,0,.18,1) 0.4s, scale 0.6s ease-in-out;
  scale: 0.9;
}

.initial-screen.active {
  transform: translateY(0);
  transition: scale 0.6s ease-in-out 0.6s, transform 0.9s cubic-bezier(.77,0,.18,1);
  scale: 1;
}

.game-tile {
  transition: color 100ms ease-in-out;
}

#restart,
#change-names{
  transition: left 600ms ease-in-out,  opacity 600ms ease-in-out;;
}

#change-names{
  position: relative;
  left: calc(calc(var(--tile-size) / 2) + calc(var(--buttons-column-spacing) / 2));
  z-index: 5;
}

#restart{
  position: relative;
  left: calc(calc(calc(var(--tile-size) * -1) / 2) - calc(var(--buttons-column-spacing) / 2));
  z-index: 3;
  opacity: 0;
}

#restart.active {
  left: 0;
  opacity: 1;
}

#change-names.active {
  left: 0;
}

.gameboard-container.end {
  animation: endAnimationGameboard 2s forwards;
}

.game-tile:empty:active,
.game-tile.click {
  scale: 1.05;
}

@keyframes endAnimationGameboard {
  0% {
    scale: 1;
    transform: translateY(0);
  }

  40% {
    scale: 1.05;
    transform: translateY(0);
  }

  60% {
    scale: 1;
    transform: translateY(0);
  }

  100% {
    transform: translateY(-3rem);
  }
}

.turn {
  transform: translateY(-1.5rem);
}

.turn.end {
  animation: endAnimationTurn 0.8s forwards 1.2s;
}

.turn.end.restart{
  animation: restartAnimationTurn 0.8s forwards;
}

@keyframes restartAnimationTurn {
  0% {
    transform: translateY(1.5rem);
  }

  100% {
    transform: translateY(-1.5rem);
  }
}

@keyframes endAnimationTurn {
  0% {
    transform: translateY(-1.5rem);
  }

  100% {
    transform: translateY(1.5rem);
  }
}

.result {
  transform: translateY(-5rem);
}

.result.end {
  animation: endAnimationResult 0.8s forwards 1.2s;
}

@keyframes endAnimationResult {
  0% {
    transform: translateY(-5rem);
  }

  100% {
    transform: translateY(-2rem);
  }
}

.result.end.restart {
  animation: restartAnimationResult 0.8s forwards;
}

@keyframes restartAnimationResult {
  0% {
    transform: translateY(-2rem);
  }

  100% {
    transform: translateY(-5rem);
  }
}
.p1-mark {
  z-index: 2;
  transform: translateX( calc( calc( calc( var(--tile-size) / 1.5) - calc( var(--tile-size) / 12)) - calc(calc( 13rem + 0.5rem) / 2)));
}
.p2-mark {
  z-index: 2;
  transform: translateX( calc( calc( calc( var(--tile-size) / -1.5) - calc( var(--tile-size) / -12)) + calc(calc( 13rem + 0.5rem) / 2)));
}

.p1-mark.swap {
  animation: p1Swap 0.6s forwards;
}

.p2-mark.swap {
  animation: p2Swap 0.6s forwards;
}

@keyframes p1Swap {
  0% {
  transform: translateX( calc( calc( calc( var(--tile-size) / 1.5) - calc( var(--tile-size) / 12)) - calc(calc( 13rem + 0.5rem) / 2)));
}

  50% {
    transform: translateX(calc( calc(var(--tile-size) / 1.5) - calc(var(--tile-size) / 12)));
  }

  100% {
    transform: translateX( calc( calc( calc( var(--tile-size) / 1.5) - calc( var(--tile-size) / 12)) - calc(calc( 13rem + 0.5rem) / 2)));
  }
}

@keyframes p2Swap {
  0% {
  transform: translateX( calc( calc( calc( var(--tile-size) / -1.5) - calc( var(--tile-size) / -12)) + calc(calc( 13rem + 0.5rem) / 2)));
}

  50% {
    transform: translateX(calc( calc(var(--tile-size) / -1.5) - calc(var(--tile-size) / -12)));
  }

  100% {
    transform: translateX( calc( calc( calc( var(--tile-size) / -1.5) - calc( var(--tile-size) / -12)) + calc(calc( 13rem + 0.5rem) / 2)));
  }
}

.buttons.end {
  animation: endAnimationButtons 0.8s forwards 1.1s;
}

@keyframes endAnimationButtons {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(1.5rem);
  }
}


.buttons.end.restart {
  animation: restartAnimationButtons 0.8s forwards 0.1s;
  transform: translateY(1.5rem);
}
@keyframes restartAnimationButtons {
  0% {
    transform: translateY(1.5rem);
  }

  100% {
    transform: translateY(0);
  }
}

.gameboard-container.restart {
  animation: restartAnimationGameboard 1s forwards;
}

@keyframes restartAnimationGameboard {
  0% {
    scale: 1;
  }

  80% {
    scale: 0.95;
  }

  100% {
    scale: 1;
  }
}

.gameboard-container.restart.end {
  animation: restartEndAnimationGameboard 1s forwards;
}

@keyframes restartEndAnimationGameboard {
  0% {
    scale: 1;
    transform: translateY(-3rem);
  }

  80% {
    scale: 0.95;
  }

  100% {
    transform: translateY(0);
    scale: 1;
  }
}