@import "./variables.css";

.initial-screen {
  transform: translateY(-110%);
  transition: all 0.9s cubic-bezier(.77,0,.18,1) 0.4s, scale 0.6s ease-in-out;
  scale: 0.9;
}

.initial-screen.active {
  transform: translateY(0);
  transition: scale 0.6s ease-in-out 0.6s, transform 0.9s cubic-bezier(.77,0,.18,1);
  scale: 1;
}

.game-tile {
  transition: color 100ms ease-in-out;
}

#restart,
#change-names{
  transition: all 600ms ease-in-out;
}

#change-names{
  position: relative;
  left: 5.15rem;
  z-index: 5;
}

#restart{
  position: relative;
  left: -5.15rem;
  z-index: 3;
}

#restart.active {
  left: 0;
}

#change-names.active {
  left: 0;
}

.gameboard-container.end {
  animation: endAnimationGameboard 2s forwards;
}

.game-tile:empty:active {
  scale: 1.05;
}

@keyframes endAnimationGameboard {
  0% {
    scale: 1;
    transform: translateY(0);
  }

  40% {
    scale: 1.05;
    transform: translateY(0);
  }

  60% {
    scale: 1;
    transform: translateY(0);
  }

  100% {
    transform: translateY(-3rem);
  }
}

.turn {
  transform: translateY(-1.5rem);
}

.turn.end {
  animation: endAnimationTurn 0.8s forwards 1.2s;
}


@keyframes endAnimationTurn {
  0% {
    transform: translateY(-1.5rem);
  }

  100% {
    transform: translateY(1.5rem);
  }
}

.result {
  transform: translateY(-5rem);
}

.result.end {
  animation: endAnimationResult 0.8s forwards 1.2s;
}

@keyframes endAnimationResult {
  0% {
    transform: translateY(-5rem);
  }

  100% {
    transform: translateY(-2rem);
  }
}

.p1-mark.swap {
  animation: p1Swap 0.8s forwards;
  z-index: 2;
}

.p2-mark.swap {
  animation: p2Swap 0.8s forwards;
  z-index: 2;
}

@keyframes p1Swap {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(75px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes p2Swap {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-75px);
  }

  100% {
    transform: translateX(0);
  }
}


.gameboard-container.restart {
  animation: restartAnimationGameboard 1s forwards;
}

@keyframes restartAnimationGameboard {
  0% {
    scale: 1;
  }

  80% {
    scale: 0.95;
  }

  100% {
    scale: 1;
  }
}

.gameboard-container.restart.end {
  animation: restartEndAnimationGameboard 2s forwards;
}

@keyframes restartEndAnimationGameboard {
  0% {
    scale: 1;
    transform: translateY(-3rem);
  }

  40% {
    scale: 0.95;
    transform: translateY(-3rem);
  }

  60% {
    scale: 1;
    transform: translateY(-3rem);
  }

  100% {
    transform: translateY(0);
    scale: 1;
  }
}