@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap");
@import "./variables.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: "Lato", sans-serif;
}

.initial-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: white;
  gap: 20px;
  z-index: 40;
  pointer-events: all;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Permanent Marker", cursive;
  font-size: 4rem;
  color: rgb(50, 50, 50);
  font-weight: 900;
  background: linear-gradient(
      rgba(255, 255, 255, 0.86),
      rgba(255, 255, 255, 0.86)
    ),
    url(/svg/title-brush-stroke.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 57%;
  width: 50rem;
  height: 7rem;
}

form,
.player,
form > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

input {
  border: none;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.07);
  width: 13rem;
  height: 2.5rem;
  padding: 1rem;
}

form > div {
  flex-direction: row;
}

.marks {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.p1-mark,
.p2-mark {
  color: rgb(50, 50, 50);
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(var(--tile-size) / 2);
  height: calc(var(--tile-size) / 2);
  border: calc(var(--tile-border) / 2);
  border-radius: calc(var(--tile-border-radius) / 2);
  user-select: none;
  background: var(--tile-background-color);
  font-family: "Permanent Marker", cursive;
}

#swap-marks {
  width: 2.5rem;
  font-size: 1.2rem;
  height: 2.5rem;
  color: rgb(50, 50, 50);
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(var(--tile-size) / 2);
  height: calc(var(--tile-size) / 2);
  border: calc(var(--tile-border) / 2);
  border-radius: calc(var(--tile-border-radius) / 2);
  user-select: none;
  background: var(--tile-background-color);
  font-weight: 900;
  z-index: 5;
}

.player {
  font-size: 2rem;
  font-family: "Permanent Marker", cursive;
}
.player > p {
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(237, 237, 237);
  font-size: 1.5rem;
  height: 3.5rem;
  font-family: "Lato", sans-serif;
  background: linear-gradient(
      rgba(255, 255, 255, 0.19),
      rgba(255, 255, 255, 0.19)
    ),
    url(/svg/player-brush-stroke.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 105%;
  width: 100%;
}

button {
  width: 10rem;
  font-size: 1.2rem;
  height: 2.5rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.gameboard-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: var(--gameboard-background-color);
  gap: var(--gameboard-spacing);
  padding: var(--gameboard-spacing);
  border: var(--gameboard-border-radius);
  border-radius: calc(var(--tile-border-radius) + var(--gameboard-spacing));
  z-index: 30;
}

header,
footer {
  flex: 1;
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  color: rgb(50, 50, 50);
}

.turn {
  align-items: flex-end;
}

header {
  align-items: flex-end;
}

footer{
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.result {
  gap: 0.4rem;
  text-align: center;
}

.p2-result {
  font-size: 1rem;
  color: rgb(80, 80, 80);
}

.game-tile {
  color: rgb(50, 50, 50);
  font-family: "Permanent Marker", cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  width: var(--tile-size);
  height: var(--tile-size);
  border: var(--tile-border);
  border-radius: var(--tile-border-radius);
  user-select: none;
  background: var(--tile-background-color);
}

.game-tile.restart {
  color: rgb(237, 237, 237);
}

.game-tile:empty:hover,
input:hover,
input:focus,
#swap-marks:hover {
  background: var(--tile-background-color-hover);
}