@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap");

:root {
  --tile-size: 6rem;
  --gameboard-spacing: 1rem;
  --tile-border-radius: 0.8rem;
  --tile-font-size: 4rem;
  --initial-screen-row-spacing: 1.5rem;
  --initial-screen-column-spacing: 0.5rem;
  --buttons-column-spacing: 1.2rem;
  --player-width: 13rem;
  --input-width: 11rem;
  --button-shadow-size: 0.2rem;

  --outset-shadow-color: rgb(100, 100, 100);
  --inset-shadow-color: rgb(160, 160, 160);
  --primary-font-color: rgb(50, 50, 50);
  --secondary-font-color: rgb(80, 80, 80);
  --tile-background-color: rgb(237, 237, 237);
  --tile-background-hover-color: rgb(225, 225, 225);
  --big-brush-stroke-overlay: rgba(255, 255, 255, 0.86);
  --small-brush-stroke-overlay: rgba(255, 255, 255, 0.19);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

svg {
  height: 2.5rem;
  width: 2.5rem;
  fill: var(--primary-font-color);
}

.initial-screen {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  gap: 2rem;
  pointer-events: all;
  background: #fff;
  z-index: 40;
}

.title {
  font-family: "Permanent Marker", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  color: var(--primary-font-color);
  font-weight: 900;
  width: 50rem;
  height: 7rem;
  background: linear-gradient(
      var(--big-brush-stroke-overlay),
      var(--big-brush-stroke-overlay)
    ),
    url("/svg/title-brush-stroke.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 57%;
}

form,
.player,
form > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: var(--initial-screen-row-spacing);
  column-gap: var(--initial-screen-column-spacing);
}

input {
  border: none;
  border-radius: t;
  background-color: var(--tile-background-color);
  width: var(--input-width);
  height: calc(var(--tile-size) / 2.5);
  border-radius: calc(var(--tile-border-radius) / 2.5);
  padding: 1rem;
  font-size: 1rem;
}

form > div {
  flex-direction: row;
}

.marks {
  display: flex;
  flex-direction: row;
  gap: 0;
  width: 100%;
}

#swap-marks {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-font-color);
  width: calc(var(--tile-size) / 1.5);
  height: calc(var(--tile-size) / 2);
  border-radius: calc(var(--tile-border-radius) / 2);
  background: var(--tile-background-color);
  z-index: 15;
}

.p1-mark,
.p2-mark {
  font-family: "Permanent Marker", cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-font-color);
  font-size: calc(var(--tile-font-size) / 2);
  width: calc(var(--tile-size) / 2);
  height: calc(var(--tile-size) / 2);
  border-radius: calc(var(--tile-border-radius) / 2);
  background: var(--tile-background-color);
  user-select: none;
  z-index: 5;
}

.player > p {
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 1.5rem;
  height: 3.5rem;
  background: linear-gradient(
      var(--small-brush-stroke-overlay),
      var(--small-brush-stroke-overlay)
    ),
    url("/svg/player-brush-stroke.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 105%;
  color: var(--tile-background-color);
  width: var(--player-width);
}

button {
  transform: translateX(calc( var(--button-shadow-size) * -1)) translateY(calc( var(--button-shadow-size) * -1));
  border-radius: calc(var(--tile-border-radius) / 2);
  border: none;
  color: var(--primary-font-color);
  box-shadow: var(--button-shadow-size) var(--button-shadow-size) 0 0 var(--outset-shadow-color);
}

button:active,
button.click {
  box-shadow: inset var(--button-shadow-size) var(--button-shadow-size) 0 0 var(--inset-shadow-color);
  transform: translateX(0) translateY(0);
}

button {
  width: calc(var(--tile-size) * 1.5);
  font-size: 1.15rem;
  height: calc(var(--tile-size) / 2);
  font-weight: 900;
}

.buttons {
  display: flex;
  position: relative;
  top: 1.5rem;
  column-gap: var(--buttons-column-spacing);
}
.buttons button {
  width: var(--tile-size);
  font-size: 1rem;
  height: calc(var(--tile-size) / 2.5);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameboard-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: #fff;
  gap: var(--gameboard-spacing);
  padding: var(--gameboard-spacing);
  pointer-events: all;
  z-index: 30;
}

.gameboard-container.end {
  pointer-events: none;
}

header,
footer {
  flex: 1;
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  color: var(--primary-font-color);
}

header {
  align-items: flex-end;
}

footer {
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.result {
  gap: 0.4rem;
  text-align: center;
  position: absolute;
}

.p2-result {
  font-size: 1rem;
  color: var(--secondary-font-color);
}

.game-tile {
  font-family: "Permanent Marker", cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-font-color);
  font-size: var(--tile-font-size);
  width: var(--tile-size);
  height: var(--tile-size);
  border-radius: var(--tile-border-radius);
  background: var(--tile-background-color);
  user-select: none;
}

.game-tile.restart {
  color: var(--tile-background-color);
}

.game-tile:empty:hover,
input:hover,
input:focus,
#swap-marks:hover {
  background: var(--tile-background-hover-color);
}
